@import 'fonts';
@import 'color';
@import 'typography';
@import 'animations';

body {
  background-color: $white;
  word-wrap: break-word;
}

.wrapper {
  max-width: calculaterem(1366px);
  margin: 0 auto;
}

