.error__content {
  padding: calculaterem(40px) (15px);
  text-align: center;
}

.error__actions {
  margin-top: calculaterem(15px);
  margin-bottom: calculaterem(15px);
}

.error__actions .btn {
  margin-right: calculaterem(10px);
}
